.achievements{
    background:#050505;
    padding:120px 8%;
    position:relative;
    overflow:hidden;
}

.achievements::before{
    content:"";
    position:absolute;
    width:600px;
    height:600px;
    background:#22c55e;
    border-radius:50%;
    filter:blur(250px);
    opacity:0.08;
    top:-200px;
    right:-200px;
}

.achievements-header{
    text-align:center;
    max-width:800px;
    margin:auto;
    margin-bottom:80px;
}

.achievements-header span{
    color:#22c55e;
    letter-spacing:3px;
    font-weight:600;
    font-size:0.9rem;
}

.achievements-header h2{
    color:white;
    font-size:3rem;
    margin:20px 0;
}

.achievements-header h2 span{
    color:#22c55e;
}

.achievements-header p{
    color:#a5a5a5;
    line-height:1.8;
}

.achievements-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.achievement-card{
    background:#0d0d0d;
    border:1px solid rgba(34,197,94,0.15);
    border-radius:24px;
    overflow:hidden;
    transition:0.4s ease;
}

.achievement-card:hover{
    transform:translateY(-10px);
    border-color:#22c55e;
    box-shadow:0 0 30px rgba(34,197,94,0.15);
}

.image-wrapper{
    position:relative;
    height:280px;
    overflow:hidden;
}

.achievement-image{
    object-fit:cover;
    transition:0.7s ease;
}

.achievement-card:hover .achievement-image{
    transform:scale(1.08);
}

.image-overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
      to top,
      rgba(0,0,0,0.9),
      rgba(0,0,0,0.1)
    );
}

.card-number{
    position:absolute;
    top:20px;
    right:20px;

    width:45px;
    height:45px;

    border-radius:50%;

    background:rgba(34,197,94,0.9);

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-weight:700;
}

.card-content{
    padding:30px;
}

.card-content h3{
    color:white;
    font-size:1.6rem;
    margin-bottom:15px;
}

.card-content p{
    color:#b0b0b0;
    line-height:1.8;
}

@media(max-width:900px){

    .achievements-grid{
        grid-template-columns:1fr;
    }

    .achievements-header h2{
        font-size:2.3rem;
    }
}

@media(max-width:576px){

    .achievements{
        padding:90px 6%;
    }

    .image-wrapper{
        height:220px;
    }

    .achievements-header h2{
        font-size:2rem;
    }
}