.hero{
    position:relative;
    width:100%;
    min-height:100vh;

    background:#040404;

    display:flex;
    align-items:center;

    overflow:hidden;

    isolation:isolate;
}
.particles span{
    position:absolute;

    width:6px;
    height:6px;

    border-radius:50%;

    background:#22c55e;

    opacity:.3;

    animation:particleFloat 12s linear infinite;
}

.particles span:nth-child(1){
    top:20%;
    left:60%;
}

.particles span:nth-child(2){
    top:35%;
    left:80%;
    animation-duration:16s;
}

.particles span:nth-child(3){
    top:60%;
    left:75%;
    animation-duration:14s;
}

.particles span:nth-child(4){
    top:80%;
    left:55%;
    animation-duration:18s;
}

.particles span:nth-child(5){
    top:45%;
    left:90%;
    animation-duration:20s;
}
.cursor-glow{
    position:absolute;

    width:300px;
    height:300px;

    border-radius:50%;

    background:
        radial-gradient(
            circle,
            rgba(34,197,94,.18),
            transparent 70%
        );

    filter:blur(80px);

    pointer-events:none;

    z-index:0;

    animation:glowMove 10s ease-in-out infinite alternate;
}

@keyframes glowMove{
    from{
        transform:translate(-50px,-50px);
    }

    to{
        transform:translate(50px,50px);
    }
}
@keyframes particleFloat{
    0%{
        transform:translateY(0);
        opacity:.1;
    }

    50%{
        transform:translateY(-50px);
        opacity:.5;
    }

    100%{
        transform:translateY(-100px);
        opacity:0;
    }
}
.overlay{

    position:absolute;
    inset:0;

    background:

    linear-gradient(
        90deg,

        rgba(0,0,0,.96) 0%,

        rgba(0,0,0,.93) 25%,

        rgba(0,0,0,.82) 42%,

        rgba(0,0,0,.52) 58%,

        rgba(0,0,0,.15) 74%,

        transparent 100%
    );

    z-index:2;
}
.grid-overlay{

    position:absolute;
    inset:0;

    background-image:

        linear-gradient(
            rgba(255,255,255,.035) 1px,
            transparent 1px
        ),

        linear-gradient(
            90deg,
            rgba(255,255,255,.035) 1px,
            transparent 1px
        );

    background-size:60px 60px;

    opacity:.22;

    animation:gridMove 20s linear infinite;

    z-index:1;
}

@keyframes gridMove{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(60px);
    }

}
.ambient-glow{

    position:absolute;

    width:700px;
    height:700px;

    right:-180px;
    top:-120px;

    background:

    radial-gradient(

        circle,

        rgba(34,197,94,.20) 0%,

        rgba(34,197,94,.08) 40%,

        transparent 72%
    );

    filter:blur(120px);

    z-index:0;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;

    background-image:
        linear-gradient(rgba(255,255,255,.03) 1px,transparent 1px),
        linear-gradient(90deg,rgba(255,255,255,.03) 1px,transparent 1px);

    background-size:50px 50px;
    opacity:.25;
    z-index:0;
}

.hero-container{
    width:100%;
    max-width:1400px;
    margin:0 auto;

    display:grid;
    grid-template-columns:45% 55%;

    align-items:center;      /* Important */

    min-height:100vh;

    padding:120px 0 60px 70px;  

    position:relative;
    z-index:2;
}

.hero-left{

    position:relative;

    z-index:5;

    max-width:650px;
}

.event-tag{
    color:#22c55e;
    font-size:1rem;
    font-weight:600;
    letter-spacing:3px;
    text-transform:uppercase;
    margin-bottom:14px;
    margin-left: 20px;
}

.hero-title{

    position:relative;

    color:#fff;

    font-size:8rem;

    font-weight:900;

    line-height:.9;

    letter-spacing:5px;

    text-shadow:

        0 0 20px rgba(255,255,255,.08);
}
.hero-subtitle{

    margin-top:22px;

    color:#22c55e;

    font-size:1.8rem;

    font-weight:600;
    margin-left: 20px;
}

.hero-description{

    margin-top:26px;

    color:#c9c9c9;

    line-height:1.9;

    max-width:560px;

    font-size:1.05rem;
    margin-left: 20px;
}

.hero-buttons{
    margin-top:40px;
    margin-left: 20px;
    margin-right: 20px;
}

.primary-btn{
    position:relative;

    display:flex;
    align-items:center;
    gap:12px;

    padding:18px 38px;

    border:none;
    border-radius:16px;

    background:linear-gradient(
        135deg,
        #22c55e,
        #16a34a
    );

    color:white;

    font-size:1rem;
    font-weight:700;

    cursor:pointer;

    overflow:hidden;

    transition:
        transform .35s ease,
        box-shadow .35s ease,
        background .35s ease;

    box-shadow:
        0 8px 25px rgba(34,197,94,.25);

    backdrop-filter:blur(12px);
}

.primary-btn:hover{

    transform:
        translateY(-4px)
        scale(1.03);

    box-shadow:
        0 15px 40px rgba(34,197,94,.40),
        0 0 30px rgba(34,197,94,.30);
}
.primary-btn:active{

    transform:
        scale(.96);
}
.ripple{

    position:absolute;

    border-radius:50%;

    transform:scale(0);

    background:rgba(255,255,255,.5);

    animation:ripple .7s linear;

    pointer-events:none;
}

@keyframes ripple{

    to{

        transform:scale(4);

        opacity:0;
    }
}
.primary-btn::before{

    content:"";

    position:absolute;

    top:0;
    left:-120%;

    width:80px;
    height:100%;

    background:

    linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.45),
        transparent
    );

    transform:skewX(-25deg);

    transition:.8s;
}

.primary-btn:hover::before{

    left:140%;
}
.primary-btn::after{

    content:"";

    position:absolute;

    inset:-2px;

    border-radius:inherit;

    background:

    linear-gradient(
        135deg,
        rgba(34,197,94,.6),
        transparent,
        rgba(34,197,94,.6)
    );

    opacity:0;

    transition:.4s;

    z-index:-1;
}

.primary-btn:hover::after{

    opacity:1;
}
.hero-buttons{

    animation:
        floatButton 4s ease-in-out infinite;
}

@keyframes floatButton{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-6px);
    }

    100%{
        transform:translateY(0);
    }
}
.hero-right{

    position:absolute;

    top:0;

    right:0;

    width:58vw;

    height:100vh;

    overflow:hidden;
}

.vehicle-image{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:right center;

    display:block;

    user-select:none;

    pointer-events:none;

    will-change:transform;
    transform:
        translate(
            var(--mouse-x,0),
            var(--mouse-y,0)
        );
}

@media (max-width: 992px){

    .hero-container{
        grid-template-columns:1fr;

        padding:120px 30px 60px 30px;

        text-align:center;

        min-height:auto;
    }

    .hero-left{
        max-width:100%;
    }

    .hero-right{
        position:relative;

        width:100%;
        height:500px;

        margin-top:50px;
    }

    .overlay{
        background:
        linear-gradient(
            180deg,
            rgba(0,0,0,.92) 0%,
            rgba(0,0,0,.82) 35%,
            rgba(0,0,0,.45) 65%,
            transparent 100%
        );
    }

    .hero-title{
        font-size:5rem;
    }

    .hero-subtitle{
        font-size:1.5rem;
    }

    .hero-description{
        margin:25px auto 0 auto;
    }

    .hero-buttons{
        display:flex;
        justify-content:center;
    }
}
@media (max-width:768px){

    .hero{
        min-height:100vh;
    }

    .hero-container{
        padding:110px 25px 40px 25px;
    }

    .hero-right{
        height:420px;
    }

    .hero-title{
        font-size:3.5rem;
        letter-spacing:3px;
    }

    .hero-subtitle{
        font-size:1.2rem;
    }

    .hero-description{
        font-size:.95rem;
        line-height:1.8;
    }

    .event-tag{
        font-size:.8rem;
        letter-spacing:2px;
    }

    .hero-buttons{
        display:flex;
        justify-content:center;
        width:100%;
    }

    .primary-btn{
        min-width:180px;

        justify-content:center;

        padding:14px 26px;

        font-size:.95rem;
    }

    .vehicle-image{
        object-position:center center;
    }
}

@media (max-width:576px){

    .hero-container{
        padding:100px 20px 30px;
    }

    .hero-title{
        font-size:2.7rem;
    }

    .hero-subtitle{
        font-size:1rem;
    }

    .hero-description{
        font-size:.88rem;
    }

    .hero-right{
        height:340px;
    }

    .hero-buttons{
        display:flex;
        justify-content:center;
        width:100%;
    }

    .primary-btn{
        min-width:180px;

        justify-content:center;

        padding:14px 26px;

        font-size:.95rem;
    }

    .hero-buttons{
        width:100%;
    }
    
}
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#050505;
}

::-webkit-scrollbar-thumb{
    background:#22c55e;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#16a34a;
}
/* Mobile Hero Layout */

@media (max-width:768px){

    .hero-buttons{
        display:flex;
        justify-content:center;
        width:100%;
    }

    .countdown-dashboard{
        width:100%;
        max-width:100%;
        margin:25px auto 35px;
    }

    .hero-left{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .hero-description{
        max-width:100%;
    }

    .hero-right{
        margin-top:20px;
    }

}